body {
    background-color: cadetblue;
    display: grid;
    height: 100vh;
    place-items: center;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
}

.head {
    width: 300px;
    height: 300px;
    border: 10px solid black;
    border-radius: 50%;
    background-color: white;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: baseline;
}

.head::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    border: 10px;
    border-radius: 50%;
    box-shadow: inset -22px 5px 0 3px rgba(0, 0, 0, 0.2);
}

.head::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 50px;
    border: 10px solid black;
    margin-top: 300px;
    background: white;
}

.left,
.right {
    background: black;
    width: 175px;
    height: 175px;
    position: absolute;
    border-radius: 50%;
    border: 10px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    margin-left: -180px;
}

.right {
    margin-left: 180px;
}

.left::before,
.right::before {
    content: '';
    position: absolute;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    box-shadow: inset -15px 5px 0 3px rgba(255, 255, 255, 0.164);
}

.right::after,
.left::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 15px;
    border-radius: 50%;
    background: white;
}

.right::after {
    width: 30px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid white;
}

.cutout {
    position: absolute;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    align-self: flex-end;
    margin-bottom: -60px;
}

.mouth {
    width: 180px;
    height: 180px;
    position: absolute;
    border: 10px solid black;
    border-radius: 50%;
    align-self: center;
    clip-path: circle(60% at 50% 120%);
    &::before,
    &::after {
        content: '';
        width: 30px;
        height: 30px;
        border: 10px solid black;
        position: absolute;
        top: 100px;
        left: -30px;
        border-radius: 50%;
        clip-path: circle(60% at 40% 100%);
    }
    &::after {
        left: 157px;
        top: 97px;
        clip-path: circle(50% at 60% 100%);
    }
}

.body {
    position: absolute;
    width: 300px;
    height: 200px;
    background: rgb(224, 10, 10);
    top: 350px;
    border: 10px solid black;
    border-radius: 100% 100% 100% 100% / 100% 100% 0% 0%;
    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 80px;
        top: 120px;
    }
    &::before {
        border-right: 10px solid black;
        right: 40px;
    }
    &::after {
        border-left: 10px solid black;
        left: 40px;
    }
}

.bg {
    width: 200px;
    height: 50px;
    position: absolute;
    left: 350px;
    border-radius: 30%;
    top: 50px;
    box-shadow: 560px 100px 0 0 rgba(255, 0, 0, 0.15), -110px 150px 0 0 rgba(0, 0, 255, 0.15), 480px 250px 0 0 rgba(0, 0, 0, 0.15);
    animation: bgAnim 3s infinite alternate;
}

@keyframes bgAnim {
    from {
        box-shadow: 560px 100px 0 0 rgba(255, 0, 0, 0.15), -110px 150px 0 0 rgba(0, 0, 255, 0.15), 480px 250px 0 0 rgba(0, 0, 0, 0.15);
    }
    to {
        box-shadow: 500px 100px 0 0 rgba(255, 0, 0, 0.15), -95px 150px 0 0 rgba(0, 0, 255, 0.15), 420px 250px 0 0 rgba(0, 0, 0, 0.15);
    }
}